.booking-card {
    border: 1px solid var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
}

.booking-card button {
    margin-left: auto;
}

.booking-card__info .booking-title {
    font-size: 1.5rem;
}

.booking-card__info .booking-date {
    color: var(--second-color);
    font-size: 0.75rem;
}
