.empty-list {
    display: flex;
    margin: auto;
    width: 34rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.empty-list .headline-3 {
    padding-bottom: 0.5rem;
}
