.booking-list {
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 0.5rem;
    width: 44rem;
    max-width: 80%;
}

.empty-bookings-handler {
    font-weight: 100;
}

.empty-bookings-handler a {
    text-decoration: none;
    color: var(--second-color)
}
