.main-navigation {
    position: fixed;
    height: 3.5rem;
    background-color: var(--main-color);
    display: flex;
    width: 100%;
    color: var(--main-second-color);
    padding: 0 3rem;
}

.main-navigation__nav {
    display: flex;
    padding-left: 3rem;
}

.main-navigation__nav ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.main-navigation__nav ul li a {
    text-decoration: none;
    color: var(--main-second-color);
}

.main-navigation__nav ul li a:hover,
.main-navigation__nav ul li a:active,
.main-navigation__nav ul li a.active {
    color: var(--active-color);
    transition: 1s;
}

